.dice-container {
  position: absolute;
  bottom: 100px;
}

.die {
  font-size: 2em;
  line-height: 80%;
  display: inline-block;
}

.selected {
  color: red;
}

.initial {
  color: rgb(255, 229, 209);
}