$dice-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

@mixin roll-dice {
  @keyframes roll-dice {
    0% {
      color: green;
    }
    50% {
      color: white;
    }
    100% {
      color: green;
    }
  }

  animation: roll-dice #{$dice-transition};
}

.die {
  display: inline-block;
  transition: color $dice-transition;
  font-size: 55px;

  &.selected {
    color: white;
  }

  &.initial {
    color: green;
  }

  &.animate:not(.selected) {
    @include roll-dice;
  }
}

#dice-container {
  height: 5vh;
  width: 100%;
  font-size: 3em;
  margin-bottom: 20px;
}
