$dice-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

@mixin roll-dice {
  @keyframes roll-dice {
    0% {
      transform: scale(1) rotateZ(0);
    }
    25% {
      transform: scale(1.6) rotateZ(180deg);
    }
    50% {
      transform: scale(1.2) rotateZ(90deg);
    }
    100% {
      transform: scale(1) rotateZ(360deg);
    }
  }

  animation: roll-dice #{$dice-transition};
}

.dice-container {
  position: absolute;
  bottom: 100px;
}

.die {
  font-size: 2em;
  line-height: 80%;
  display: inline-block;
  transition: color $dice-transition;

  &.selected {
    color: white;
  }

  &.initial {
    color: green;
  }

  &.animate:not(.selected) {
    @include roll-dice;
  }
}
