$outcome-animation-duration: 3s;

.outcome-screen {
  transform: translateY(20vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;

  .happy-message {
    color: white;
    font-size: 2em;
    animation: happy-message $outcome-animation-duration ease-in-out infinite;
  }
  .score-message{
    color: green;
    font-size: 2em;
    
  }
}

@keyframes happy-message {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(2deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.2) rotate(-2deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
