.roll-button-base {
  border-radius: 100%;
  background: linear-gradient(45deg,
      rgb(226, 207, 127) 0%,
      rgb(120, 96, 42) 50%,
      rgb(212, 127, 45) 100%);

  position: relative;
  width: 200px;
  height: 200px;
  border: solid 1px black;
  background-color: white;
  mix-blend-mode: hard-light;
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 100);

  bottom: 10px;
}

.roll-button-hole {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;

  border: solid 1px red;
  border-radius: 50%;
  background-color: gray;

  font-size: 1em;
  font-family: "Lucida Console", Courier, monospace;
  color: rgb(255, 229, 209);
}

.roll-button-hole:hover {
  transform: scale(1.1) rotate(1deg);
  transition: 0.1s ease-in-out;
  transform-origin: center center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 48px rgba(0, 0, 0, 0.35);
}

.roll-button-hole:not(:hover) {
  transform: scale(1) rotate(0deg);
  transition: 0.1s ease-in-out;
  transform-origin: center center;
}

.roll-button-hole:active {
  transform: scale(1) rotate(-1deg);
  transform-origin: center center;
}