#score-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 10px;
}

#score-table tr,
#score-table td {
  border: 2px dashed green;
  padding: 8px;
}

#score-table td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: green;
}

#score-table .selected {
  color: white;
}

#score-table .recorded {
  color: white;
}

@keyframes changeColor {
  0% {
    color: green;
  }

  50% {
    color: white;
  }

  100% {
    color: green;
  }
}

.playerLabel.animate {
  animation: changeColor 1s;
}

#score-table td.total-label {
  text-align: right;
}