#score-table {
  border-collapse: collapse;
  height: 70%;
  width: 100%;

  tr,
  td {
    border: 2px dashed green;
    padding: 4px;
    font-size: 20px;
  }

  td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: green;
  }

  .selected {
    color: white;
  }

  .recorded {
    color: white;
  }

  td.total-label {
    text-align: right;
  }
}

@keyframes changeColor {
  0% {
    color: green;
  }

  50% {
    color: white;
  }

  100% {
    color: green;
  }
}

.playerLabel.animate {
  animation: changeColor 1s;
}

@media only screen and (min-width: 600px) {
  #score-table {
    border: 1px dashed green;
    color: red
  }
}